
<template>
  <detail title="Tour Packages" :packagesList="packagesList" :relatedList="relatedList" />
</template>
<script>
import page from "@/mixins/page"
import tours from "@/assets/data/tours"
import detail from "@/components/tour-detail"
import utils from "@/assets/js/utils/utils"
export default {
  validate({store, params}) {
    let valid = tours.packages.some(tour => tour.detailUrl.indexOf(params.id) > -1)
    store.state.pageError = !valid
    return valid
  },
  asyncData({store, params, route, error}) {
      let tourData = tours.packages.find(tour => tour.detailUrl.indexOf(params.id) > -1)
      if(!store.state.pageData) { 
        store.state.pageTitle = tourData.name
        store.state.pageDesc = tourData.pageDesc
      }
      store.state.pageData = tourData
      store.state.metaImage = "https://www.cherysabalitour.com/" + tourData.img//images/contents/devils-tears.jpg"
      
      //inject review
      let hasReview = tourData.details.find(item => item.googleReview)
      if(!hasReview) {
        tourData.details.push({
          name: "Reviews",
          googleReview: {
              placeID: store.state.placeID
          },
          btnLabel: "Book Now",
          btnUrl: "/book-now?type=booking-tour",
          btnBookNow: true
        })
      }

      return {
        url: tourData.detailUrl,
        packagesList: tourData.details,
        relatedList: tours.packages.filter(tour => tour.detailUrl !== tourData.detailUrl)
      }
  },
  components: {
    detail
  },
  mixins:[page]
}  
</script>