<template>
  <div>
    <section class="bg-grey">
      <div class="preheader-hidden">
          <h2>Tour Packages</h2>
      </div>
      <tile :list="list" :num-columns="2" :square="true"/>
    </section>
    <br><br>
    <h2 class="text-center">Reviews</h2>
    <google-review :placeID="$store.state.placeID"/>
  </div>
</template>
<script>
import page from "@/mixins/page"
import tours from "@/assets/data/tours"
import tile from "@/components/tile"
import googleReview from "@/components/google-review"
export default {
  fetch({store}) {
      store.state.pageTitle = "Exploring Nusa Penida with Cherysa Tour"
      store.state.pageDesc = "<p>Operate by locals, Cherysa Tour offers: full day tour, full day tour plus snorkeling and 2 days plus 1 night tour. We're also open for custom tour by request.</p>"
      store.state.metaImage = "https://www.cherysabalitour.com/images/contents/raja-lima-sq.jpg"
  },
  components: {
    tile, googleReview
  },
  mixins: [page],
  data() {
    return {
      list: tours.packages//data.toursList
    }
  }
}  
</script>