
<template>
  <detail 
    :title="title" 
    :destinationDetails="destinationDetails" 
    :relatedList="relatedList"
    />
</template>
<script>
import page from "@/mixins/page"
import destinations from "@/assets/data/destinations"
import detail from "@/components/destination-detail"
export default {
    validate ({store, params}) {
        let valid = destinations.destinationsList.some(destination => destination.detailUrl.indexOf(params.id) > -1)
        store.state.pageError = !valid
        return valid
    },
    asyncData({store, params, error}) {
        let destinationData = destinations.destinationsList.find(tour => tour.detailUrl.indexOf(params.id) > -1)
        if(!store.state.pageData) {
            store.state.pageTitle = destinationData.name
            store.state.pageDesc = destinationData.desc
        }
        store.state.pageData = {name: destinationData.name, pageDesc: destinationData.desc}
        store.state.metaImage = "https://www.cherysabalitour.com/" + destinationData.img
        return {
            url: destinationData.detailUrl,
            title: destinationData.name,
            destinationDetails: destinationData.details,
            relatedList: destinations.destinationsList.filter(tour => tour.detailUrl.indexOf(destinationData.detailUrl) == -1)
        }
    },
    components: {
        detail
    },
    mixins:[page]
}  
</script>