<template>
  <section class="bg-grey">
      <div class="preheader-hidden">
          <h2>{{list.length}} Awesome Tourist Destinations in Nusa Penida and Nusa Lembongan</h2>
      </div>
      <tile :list="list" :num-columns="3" :square="true"/>
  </section>
</template>
<script>
import data from "@/assets/data/destinations"
import tile from "@/components/tile"
import page from "@/mixins/page"
export default {
  fetch({store}) {
    store.state.pageTitle = data.destinationsList.length + " Awesome Tourist Destinations in Nusa Penida and Nusa Lembongan"
    store.state.pageDesc = "<p>With 14 villages, Nusa Penida has dozen places that may attract tourist. Cherysa Tour select tourist destionation to fit your time and budget.<br>We devide our tour into:</p><p><strong>West Nusa Penida Tour:</strong> Tree of Love and Kelingking Beach, Angel Billabong, Crystal Bay Beach.</p><p><strong>East Nusa Penida Tour:</strong> Teletubbies Hills, Raja Lima and Tree House, Atuh Beach and Giri Putri Beach.</p><p><strong>Nusa Lembongan Tour:</strong> Panorama Point, Dream Beach, Devil's Tears, Yellow Bridge, Mangrove Forest.</p>"
    store.state.metaImage = "https://www.cherysabalitour.com/images/contents/angel-billabong-sq.jpg"
  },
  components: {
    tile
  },
  /*head() {
      return {
          link: [
              { rel: "canonical", href: "https://cherysabalitour.com/where-to-go-in-nusa-penida" }
          ]
      }
  },*/
  mixins: [page],
  data() {
    return {
      list: data.destinationsList,
    }
  }
}  
</script>