<template>
    <div id="contact-status">
        <div class="info">
            <div class="status_error">&#xE8B2;</div>
            <div class="status_success">&#xE52D;</div>
            <div class="status_anim">
                <div class="status_send">&#xEB3C;</div>
            </div>
            <div class="status_text">Sending...be patient!</div>
        </div>    
    </div>
</template>
