<template>
    <div class="chess-grid">
        <div class="chess-grid-item"
                v-for="(item, index) in list" :key="index">
            <div :class="'chess-grid-item--box ' + isPull(index)">
                <img :src="placeHolder" :data-src="path + item.img" :alt="item.name" data-pin-nopin="true">
            </div>
            <div :class="'chess-grid-item--box chess-grid-item--info ' + isPush(index)">
                <div class="v-align-pos">
                    <h3>{{ item.name }}</h3>
                    <p v-html="item.desc"></p>
                    <button>
                        <nuxt-link :to="item.url" :target="generateURLTarget(item.url)" :title="item.name" rel="noopener">{{ item.btnLabel }}</nuxt-link>
                    </button>
                </div>    
            </div>
        </div>
    </div>
</template>
<script>
import path from "@/mixins/path"
import scrollEvent from "@/assets/js/events/scroll-event"
import utils from "@/assets/js/utils/utils"
export default {
    props: ["list"],
    data() {
        return {
            placeHolder: "/images/assets/2x2-placeholder.svg"
        }
    },
    mixins: [path],
    mounted() {
        //register
        scrollEvent.registerOnScrollCallback(this.onScroll);
        this.onScroll();
    },
    methods: {
        isPull(num)
        {
            return (num%2 == 0 ? " pull" : "");
        },
        isPush(num)
        {
            return (num%2 == 0 ? " push" : "");
        },
        generateURLTarget(url)
        {
            if(!url) return "_self";
            return (url.indexOf("http") == 0 ? "_blank" : "_self");
        },
        onCSSTransitionEnd(target,  callback)
        {
            var s = document.body || document.documentElement
                s = s.style
            var prefixTransition = ""
            var prefixAnimation = ""
            var runOnce

            if( s.WebkitAnimation == "" )	prefixAnimation	 = "-webkit-";
            if( s.MozAnimation == "" )		prefixAnimation	 = "-moz-";
            if( s.OAnimation == "" )		prefixAnimation	 = "-o-";

            if( s.WebkitTransition == "" )	prefixTransition = "-webkit-";
            if( s.MozTransition == "" )		prefixTransition = "-moz-";
            if( s.OTransition == "" )		prefixTransition = "-o-";
            
            runOnce = (e) => { callback(); e.target.removeEventListener( e.type, runOnce ); };
            target.addEventListener( 'webkitTransitionEnd', runOnce );
            target.addEventListener( 'mozTransitionEnd', runOnce );
            target.addEventListener( 'oTransitionEnd', runOnce );
            target.addEventListener( 'transitionend', runOnce );
            target.addEventListener( 'transitionend', runOnce );
            if( ( prefixTransition == '' && !( 'transition' in s ) ) || getComputedStyle( target )[ prefixTransition + 'transition-duration' ] == '0s' ) callback();
        },
        imageLoaded(img) {
            if(utils.inViewPort(img)){
                var src = img.getAttribute("data-src");
                if(src === null) return;
                var parentElementStyle = img.parentElement.style;
                img.onload = () => {
                    img.className = "image-loaded";
                    this.onCSSTransitionEnd(img, () => {
                        parentElementStyle.backgroundImage = "";
                    });
                }
                parentElementStyle.backgroundImage = "url('" + img.src + "')";
                parentElementStyle.backgroundRepeat = "no-repeat";
                parentElementStyle.backgroundSize = "cover";//"100% 100%";
                parentElementStyle.backgroundPosition = "center";
                img.className = "image-loading";
                img.src = src;
                img.removeAttribute("data-src");
            }
        },
        onScroll()
        {
            [].slice.call(document.querySelectorAll(".chess-grid-item--box img[data-src]")).map((img) => {
                img.onload = () => { this.imageLoaded(img) }
                if(img.complete) this.imageLoaded(img)
            })
        }
    },
    beforeDestroy(){
        scrollEvent.dispose();
    }
}
</script>