<template>
    <div id="google-review">
        <div class="google-review-item" v-for="(item, index) in reviews" :key="index">
            <div class="google-review-meta">
                <p class="google-review-text">{{ item.text }}</p>
            </div>
            <div class="google-review-stars">
                <ul>
                    <li v-for="i in Math.floor(item.rating)" :key="'star'+i">
                        <span class="star"></span>
                    </li>
                    <li v-for="i in (5 - item.rating)" v-if="item.rating < 5" :key="'half-star'+i">
                        <span :class="'star ' + (i == 0 && rating%1 > 0 ? 'half' : 'inactive')"></span>
                    </li>
                </ul>
            </div>    
            <span class="google-review-author">{{ item.author_name }}</span>
            <span class="google-review-sep">, </span><br>
            <span class="google-review-date">{{ item.reviewDate }}</span>
        </div>
    </div>
</template>
<script>
import ScrollEvent from "@/assets/js/events/scroll-event"
import Loader from "@/assets/js/utils/script-loader"
import Utils from "@/assets/js/utils/utils"
import $ from "jquery"
export default {
    props: ["placeID"],
    data() {
        return {
            url: "https://maps.googleapis.com/maps/api/js?",
            key: "AIzaSyAF7_hvatl9Wrn2mRD_xi1wzHTfktUp5Jg",
            reviews: [],
            intervalID: null,
        }
    },
    methods: {
        googleMapCallback() {
            let service, months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
            service = new google.maps.places.PlacesService(document.getElementById("google-review"))
            service.getDetails({ placeId: this.placeID }, (place, status) => {
                this.reviews = place.reviews.map(review => {
                    let t = new Date(review.time * 1000)
                    review.reviewDate = months[t.getMonth()] + ' ' + t.getDate() + ', ' + t.getFullYear()
                    return review//...review, reviewDate: months[t.getMonth()] + ' ' + t.getDate() + ', ' + t.getFullYear()}
                }).sort((a, b) => {
                    return a.time > b.time ? -1 : 1
                })
                this.startSlide()
            })
        },
        startSlide() {
            if(document.querySelectorAll(".google-review-item").length < 2) return
            clearInterval(this.intervalID)
            this.intervalID = setInterval(() => {
                $("#google-review > div:first")
                .fadeOut(1000)
                .next()
                .fadeIn(1000)
                .end()
                .appendTo("#google-review")
            }, 25000);
        },
        onScroll() {
            if(Utils.inViewPort(this.$el)) {
                if(!this.intervalID) this.startSlide()
            } else {
                clearInterval(this.intervalID)
                this.intervalID = null
            }
        }
    },
    mounted() {
        Loader.load(this.url + "&key=" + this.key + "&libraries=places", this.googleMapCallback)
        ScrollEvent.registerOnScrollCallback(this.onScroll)
    },
    beforeDestroy(){
        ScrollEvent.unRegisterOnScrollCallback(this.onScroll);
    }
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Fauna+One');

.map-temp {
    width: 80%;
    
}

.google-container {
    background-color: #fff;
    padding: 20px;
}

.google-title {
    font-weight: normal;
    font-size: 1.4em;
}

.google-review {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

.google-review-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    display: none;
}
.google-review-item:first-child {
    position: relative;
    display: block;
}

.google-review-author {
    color: #8d8d8d;
}
.google-review-date {
    color: #afafaf;
    font-size: 0.8em;
}
.google-review-stars ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.google-review-stars ul li {
    float: left;
    margin-right: 5px;
    list-style: none;
}

.google-review-stars ul li span {
    color: #E4B248;
    font-size: 2em;
    position: relative;
}
.google-review-stars ul li span.inactive {
    color: #dedddd;
}
.google-review-stars ul li span.half {
    color: #c6c6c6;
}
.google-review-stars ul li span.star::before {
    content: "\2605";
}
.google-review-stars ul li span.half::after {
    content: "\2605";
    color: #E4B248;
    position: absolute;
    left: 0;
    right: 50%;
    overflow: hidden;
}

.google-review-text {
    font-family: 'Fauna One', serif;
    font-style: italic;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    
}
.google-review-text::before {
    position: relative;
    content: "\201C";
    font-size: 1.4em;
    top: 4px;
    left: -2px;
}
.google-review-text::after {
    position: relative;
    content: "\201D";
    font-size: 1.4em;
    top: 4px;
    left: 2px;
}

.google-review-main-rating {
    text-align: center;
    font-size: 1.5em;
}
</style>
