<template>
    <div class="instafeed-container text-center">
        <div>
            Follow us on
            <h2><a href="https://www.instagram.com/explore/tags/cherysabalitour/" rel="noopener" title="Follow us at #cherybalisatour" target="_blank">#cherysabalitour</a></h2>
        </div>
        <div class="instafeed-tile">
            <div v-for="(item, index) in instaFeed" :key="index" class="instafeed-item">
                <a :href="'https://www.instagram.com/p/' + item.shortCode" target="_blank" rel="noopener"><img :src="placeHolder" :data-lazy="item.thumbURL" :alt="item.caption" data-pin-nopin="true"></a>
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios"
import $ from "jquery"
export default {
    data() {
        return {
            hashtags: ["cherysabalitour"],//, "cherysatour"],
            updatedCount: 0,
            instaList: [],
            placeHolder: "/images/assets/2x2-placeholder.svg"
        }
    },
    computed: {
        instaFeed: function(){
            return this.updatedCount == this.hashtags.length ? this.instaList : []
        }
    },
    updated(){
        this.startSlickCarousel();
    },
    methods: {
        getInstaFeed(index) {
            index = index || 0
            let hash = this.hashtags[index]
            axios.get("https://www.instagram.com/explore/tags/" + hash + "/?__a=1")
            .then(res => {
                let list = res.data.graphql.hashtag.edge_hashtag_to_media.edges
                list.map(item => {
                    //avoid duplication
                    let found = this.instaList.find(i => i.shortCode == item.node.shortcode)
                    if(!found) {
                        this.instaList.push({
                            shortCode: item.node.shortcode,
                            caption: "Nusa Penida and Nusa Lembongan Tour",//item.node.edge_media_to_caption.edges[0].node.text,
                            thumbURL: item.node.thumbnail_resources[2].src
                        })
                    }
                })
                //counter make sure all hastagLoaded before allow rendering
                this.updatedCount ++;
                //get next hashtag
                if(index < this.hashtags.length - 1) this.getInstaFeed(index + 1)
            })
            .catch(error => {
                if(index < this.hashtags.length - 1) this.getInstaFeed(index + 1)
            })
        },
        startSlickCarousel() {
            if(document.querySelectorAll(".instafeed-item").length == 0) return;
            $(".instafeed-tile").slick({
                infinite: true,
                slidesToShow: 5,
                pauseOnFocus: false,
                pauseOnHover: false,
                
                lazyLoad: 'ondemand',
                
                adaptiveHeight: true,
                //lazyLoad: 'progressive',

                slidesToScroll: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 6000,

                responsive: [
                {
                    breakpoint: 1025,
                    settings: {
                        slidesToShow: 4,
                    }    
                },
                {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 670,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 376,
                    settings: {
                        slidesToShow: 1,
                    }
                },
                ]
            });
        }
    },
    mounted(){
        require("slick-carousel")
        this.getInstaFeed();
    }
}
</script>
<style lang="scss" scoped>
$spacing: 20px;
$padding: 10px;

.instafeed-container {
    color: #868686;
    padding-top: 20px;
    > div:first-child {
        margin: $spacing auto;
    }
}
h2 {
    > a {
        color: inherit;
        &:hover {
            color: #000;
        }
    }
}
.instafeed-tile {
    margin: $spacing;
    div {
        margin: 10px;
    }
}
.slick-slider img {
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: calc(100% - 20px);
}

</style>