<template>
    <div class="list-box">
        <div v-for="(item, index) in list" :class="getClassName(item)" :key="index">
            <a v-if="item.linkTag" :name="item.linkTag"></a>
            <img v-if="item.img" :src="placeHolder" :data-src="path + item.img" :alt="item.name || item.subnamehead" data-pin-nopin="true"/>
            <div>
                <h3 v-if="item.name" class="list-box-item--name">{{ item.name }}</h3>
                <h3 v-if="item.subnamehead" class="list-box-item--subname" v-html="item.subnamehead"></h3>
                <div v-if="item.subname" class="list-box-item--subname" v-html="item.subname"></div>
                <div v-if="item.desc" class="list-box-item--desc" v-html="item.desc"></div>
                <div v-if="item.list">
                    <span v-if="item.listname"><br>Inclusions:</span>
                    <ul>
                        <li v-for="(subitem, i) in item.list" v-html="subitem" :key="i"></li>
                    </ul>
                </div>
                <div v-if="item.customList">
                    <br>
                    <div v-for="(item, i) in item.customList" :key="i">
                        <div v-if="typeof item == 'object'">
                            {{ item.name }}:
                            <ul>
                                <li v-for="(subitem, n) in item.items" v-html="subitem" :key="n"></li>
                            </ul>
                        </div>
                        <span v-else>{{ item }}</span>
                    </div>
                </div>
                <ul v-if="item.customListWithNumber">
                    <li v-for="(item, i) in item.customListWithNumber" :key="i">
                        <div v-if="typeof item == 'object'">
                            {{ item.name }}
                            <ul>
                                <li v-for="(subitem, n) in item.items" v-html="subitem" :key="n"></li>
                            </ul>
                        </div>
                        <span v-else>{{ item }}</span>
                    </li>
                </ul>
                <div v-if="item.slides" class="list-box-slide">
                    <div v-for="(slide, i) in item.slides" :key="i">
                        <img :src="placeHolder" :data-src="slide.img.indexOf('http') > -1 ? slide.img : path + slide.img" :data-lazy="slide.img.indexOf('http') > -1 ? slide.img : path + slide.img" :alt="(slide.name ? slide.name : 'slide')" data-pin-nopin="true"/>
                        <p v-if="slide.name || slide.credit">{{ slide.name }}{{ slide.credit ? 'credit by ' + slide.credit : ''}}</p>
                        <p v-else-if="item.slides.find(slide =>slide.credit)">&nbsp;</p>
                    </div>   
                </div>
                <div v-if="item.googleMap">
                    <google-map :lat="item.googleMap.lat" :long="item.googleMap.long"/>
                    <br>
                    <button>
                        <a :href="'https://www.google.com/maps/dir//'+item.googleMap.lat+','+item.googleMap.long" title="get direction" rel="noopener" target="_blank">Get Direction</a>
                    </button>
                </div>
                <div v-if="item.googleReview">
                    <google-review :placeID="item.googleReview.placeID"/>
                    <br v-if="!item.btnLabel">
                    <button class="book-button" v-if="!item.btnLabel">
                        <nuxt-link to="/tours" title="book a tour" rel="noopener">Book a Tour</nuxt-link>
                    </button>
                </div>
                <div v-if="item.table">
                    <table>
                        <thead>
                            <tr>
                                <th>Pax</th>
                                <th>Domestic Price / Pax</th>
                                <th>International Price / Pax</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, i) in item.table" :key="i">
                            <td>{{ item.p }}</td>
                            <td>{{ item.d }}</td>
                            <td>{{ item.i }}</td>
                        </tr>
                        </tbody>        
                    </table>
                </div>    
                <div v-if="item.note" class="list-box-item--desc"><b>Note:</b> {{ item.note }}</div>
                <br v-if="item.btnLabel">
                <button v-if="item.btnLabel" :class="item.btnBookNow ? 'book-button' : 'none'">
                    <nuxt-link :to="item.btnUrl" :title="item.btnLabel" rel="noopener">{{ item.btnLabel }}</nuxt-link>
                </button>
            </div>
        </div>
        <div v-if="last" class="list-box-item list-box-item-custom">
            <div>
                <div>
                    <h3 class="list-box-item--subname" v-html="last.title"></h3>
                    <ul>
                        <li v-for="(item, i) in last.list" :key="i">
                            <div v-if="typeof item == 'object'">
                                {{ item.name }}
                                <ul>
                                    <li v-for="(subitem, n) in item.items" v-html="subitem" :key="n"></li>
                                </ul>
                            </div>
                            <span v-else>{{ item }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import path from "@/mixins/path"
import scrollEvent from "@/assets/js/events/scroll-event"
import utils from "@/assets/js/utils/utils"
import googleMap from "@/components/google-map"
import googleReview from "@/components/google-review"
export default {
    props: ["list", "last"],
    components: {
        googleMap, googleReview
    },
    data() {
        return {
            placeHolder: "/images/assets/3x2-placeholder.svg"
        }
    },
    mixins: [path],
    mounted() {
        //register
        scrollEvent.registerOnScrollCallback(this.onScroll);
        this.onScroll();
        //
        //check for slide if exists
        if(document.querySelectorAll(".list-box-slide").length > 0)
        {
            //load slick-corousel here to wait window loaded
            let $ = require("jquery")
            require("slick-carousel")
            //start slick
            $(".list-box-slide").slick({
                infinite: true,
                //arrows: true,
                adaptiveHeight: true,
                lazyLoad: 'progressive',
                autoplay: true,
                autoplaySpeed: 6000
            });
        }
    },
    methods: {
        getClassName (item) {
            let className = "list-box-item";
            if(item.customListWithNumber !== undefined) className = "list-box-item custom-list";
            return className + " list-box-item--hide" 
        },
        onScroll() {
            let items = document.querySelectorAll(".list-box-item--hide");
            [].slice.call(items).map((item, index) => {
                if(utils.inViewPort(item, 50)) {
                    setTimeout(() => {
                        item.classList.remove("list-box-item--hide");
                    }, index * 500);
                }
            })

            let images = document.querySelectorAll(".list-box-item img[data-src]");
            [].slice.call(images).map((img) =>
            {
                let src = img.getAttribute("data-src");
                if(img.src != src && utils.inViewPort(img))
                {
                    img.removeAttribute("data-src");
                    img.src = src;
                }

            });
        }
    }
}
</script>
<style>
/* display rows only when image hover */
.slick-slider .slick-arrow {
    display: none !important;
}
.slick-slider:hover .slick-arrow {
    display: inline !important;
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: calc(50% - 40px);

    display: block;

    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background-color: rgba(52, 44, 44, 0.4);
    opacity: 0.6;

    z-index: 1;
}
.slick-prev:hover,
.slick-next:hover
{
    background-color: rgba(52, 44, 44, 0.6);
}
.slick-prev
{
    left: 0px;
    background-image: url("/images/assets/icon-expand-white.svg");
    background-size: cover;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.slick-next
{
    right: 0px;
    background-image: url("/images/assets/icon-expand-white.svg");
    background-size: cover;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.slick-slider img {
    width: 100%;
}
</style>
