<template>
    <div class="tile">
        <ul :class="'tile-item ' + tileClassName()">
            <li v-for="(item, index) in list" :class="generateListClass(index) + (thumbnailMode ? ' thumbnail' : '')" :key="index">
                <div>
                    <nuxt-link v-if="item.detailUrl !== undefined && item.detailUrl.indexOf('http') == -1" :to="item.detailUrl" :title="item.name">
                        <img :src="placeHolder" :data-src="path + item.img" :alt="item.name" data-pin-nopin="true">
                        <div class="tile-item--info-thumb" v-if="thumbnailMode"><span>{{ item.name }}</span></div>
                    </nuxt-link>
                    <a v-else-if="item.detailUrl !== undefined && item.detailUrl.indexOf('http') > -1" :href="item.detailUrl" target="_blank" :title="item.name">
                        <img :src="placeHolder" :data-src="path + item.img" :alt="item.name" data-pin-nopin="true">
                    </a>
                    <nuxt-link v-else-if="item.btnUrl" :to="item.btnUrl" :title="item.name">
                        <img :src="placeHolder" :data-src="path + item.img" :alt="item.name" data-pin-nopin="true">
                    </nuxt-link>
                    <nuxt-link v-else to="#" :title="item.name">
                        <img :src="placeHolder" :data-src="path + item.img" :alt="item.name" data-pin-nopin="true">
                    </nuxt-link>
                </div>
                <div class="tile-item--info" v-if="!thumbnailMode">
                    <h3>{{ item.name }}</h3>
                    <div v-html="item.desc"></div>
                    <div class="button-group">
                        <br v-if="item.btnUrl">
                        <button v-if="item.btnUrl && item.detailUrl" class="book-button">
                            <nuxt-link v-if="item.btnUrl.indexOf('http') == -1" :title="item.btnLabel" :to="item.btnUrl">{{ item.btnLabel }}</nuxt-link>
                            <a v-else :href="generateBtnURL(item.btnUrl)" target="_blank" :title="item.btnLabel" rel="noopener">{{ item.btnLabel }}</a>
                        </button>
                        <br v-if="item.detailUrl">
                        <button v-if="item.detailUrl">
                            <nuxt-link v-if="item.detailUrl.indexOf('http') == -1" :to="item.detailUrl" title="view details">View Details</nuxt-link>
                            <a v-else :href="item.detailUrl" target="_blank" rel="noopener" title="view details">View Details</a>
                        </button>
                        <button v-else class="book-button">
                            <nuxt-link v-if="item.btnUrl && item.btnUrl.indexOf('http') == -1" :to="item.btnUrl" :title="item.btnLabel">{{ item.btnLabel }}</nuxt-link>
                            <a v-else :href="item.btnUrl" target="_blank" rel="noopener" :title="item.btnLabel">{{ item.btnLabel }}</a>
                        </button>
                        <br v-if="item.detailUrl">
                        <br v-if="item.detailUrl">
                    </div>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</template>
<script>
import path from "@/mixins/path"
import scrollEvent from "@/assets/js/events/scroll-event"
import utils from "@/assets/js/utils/utils"
export default {
    props: ["list", "num-columns", "square", "thumbnailMode"],
    mixins: [path],
    mounted() {
        //register
        scrollEvent.registerOnScrollCallback(this.onScroll);
        this.onScroll();
    },
    computed: {
        placeHolder() {
            return "/images/assets/" + (this.square ? "2x2" : "3x2") + "-placeholder.svg"
        }
    },
    methods: {
        tileClassName() {
            let num = this.numColumns > 3 ? 3 : this.numColumns
            return "tile-item--col" + num
        },
        generateListClass(index) {
            var len = this.list.length;
            var className = "";
            if(len%this.numColumns == 0 && index == len-this.numColumns)
            {
                className = "last-2nd";
            } else if(len%this.numColumns == 1 && index == len-1)
            {
                className = "last-center";
            }
            return className + " tile-item--hide";
        },
        generateBtnURL(url) {
            return url;//TODO: incase need custom url changer
        },
        generateURLTarget(url) {
            url = url || "";
            return (url.indexOf("http") == 0 ? "_blank" : "_self");
        },
        imageLoaded(img, index) {
            if(utils.inViewPort(img, 50)){
                var src = img.getAttribute("data-src");
                if(src === null) return;
                setTimeout(() => {
                    img.src = src;
                    img.parentElement.parentElement.parentElement.classList.remove("tile-item--hide");
                }, index * 500);
                var parentElementStyle = img.parentElement.parentElement.style;
                
                img.onload = () => {
                    if(img.src == src) {
                        img.onCSS
                        img.className = "image-loaded";
                        this.onCSSTransitionEnd(img, () => {
                            parentElementStyle.backgroundImage = "";
                        });
                    }
                    this.adjustSize();
                }
                parentElementStyle.backgroundImage = "url('" + img.src + "')";
                parentElementStyle.backgroundRepeat = "no-repeat";
                parentElementStyle.backgroundSize = "cover";
                parentElementStyle.backgroundPosition = "center";
                img.className = "image-loading";
                img.removeAttribute("data-src");
            }
            this.adjustSize();
        },
        onCSSTransitionEnd(target,  callback)
        {
            var s = document.body || document.documentElement
                s = s.style
            var prefixTransition = ""
            var prefixAnimation = ""
            var runOnce

            if( s.WebkitAnimation == "" )	prefixAnimation	 = "-webkit-";
            if( s.MozAnimation == "" )		prefixAnimation	 = "-moz-";
            if( s.OAnimation == "" )		prefixAnimation	 = "-o-";

            if( s.WebkitTransition == "" )	prefixTransition = "-webkit-";
            if( s.MozTransition == "" )		prefixTransition = "-moz-";
            if( s.OTransition == "" )		prefixTransition = "-o-";
            
            runOnce = (e) => { callback(); e.target.removeEventListener( e.type, runOnce ); };
            target.addEventListener( 'webkitTransitionEnd', runOnce );
            target.addEventListener( 'mozTransitionEnd', runOnce );
            target.addEventListener( 'oTransitionEnd', runOnce );
            target.addEventListener( 'transitionend', runOnce );
            target.addEventListener( 'transitionend', runOnce );
            if( ( prefixTransition == '' && !( 'transition' in s ) ) || getComputedStyle( target )[ prefixTransition + 'transition-duration' ] == '0s' ) callback();
        },
        onScroll() {
            let images = document.querySelectorAll(".tile-item li img[data-src]");
            [].slice.call(images).map((img, index) => {
                if(img.complete) this.imageLoaded(img, index)
                else img.onload = () => { this.imageLoaded(img, index) }
            });
        },
        adjustSize() {
            if(this.thumbnailMode) return;
            var tiles = document.querySelectorAll(".tile-item > li");
            if(tiles.length == 0) return
            var buttonGroup = document.querySelectorAll(".button-group");
            [].slice.call(tiles).map((tile) => {
                tile.style.height = "";
                return tile;
            });

            [].slice.call(buttonGroup).map((btn) => {
                btn.style.position = "relative";
                btn.style.bottom = 0;
                return btn;
            });
            
            var maxH = [].slice.call(tiles).reduce((max, tile) => {
                var h = tile.offsetHeight ? tile.offsetHeight : 0;
                return h > max ? h : max;
            }, tiles[0].offsetHeight ? tiles[0].offsetHeight : 0);
            // update when it has more than one column
            if(tiles[0].offsetWidth + 80 < window.innerWidth)
            {
                [].slice.call(tiles).map((tile) => {
                    tile.style.height = maxH + "px";
                    return tile;
                });
                
                [].slice.call(buttonGroup).map((btn) => {
                    btn.style.position = "absolute";
                    btn.style.bottom = "14px";
                    btn.style.left = 0;
                    btn.style.right = 0;
                    return btn;
                });
            };
        }
    },
    beforeDestroy(){
        scrollEvent.dispose();
    }
}
</script>