<template>
  <section class="bg-grey">
      <div class="preheader-hidden">
          <h2>{{ title }}</h2>
      </div>
      <list-box :list="packagesList"/>
      <div class="preheader" style="margin-top: 40px">
        <h2>Related</h2>
      </div>
      <tile :list="relatedList" :num-columns="2" :square="true"/>
  </section>
</template>
<script>
import listBox from "@/components/list-box"
import tile from "@/components/tile"
export default {
  components: {
    listBox,
    tile
  },
  props: ["title", "packagesList", "relatedList"]
}  
</script>