<template>
    <div>
        <splash/>
        <div id="wrapper">
            <header-menu :list="list"/>
            <div class="banner-info">
                <div class="container">
                    <nuxt></nuxt>
                </div>
            </div>
            <insta-feed/>
            <footer-page/>
        </div>
        <book-status/>
    </div>
</template>
<script>
import bookStatus from "@/components/book-status"
import layout from "@/mixins/layout"
export default {
    components: {
        bookStatus
    },
    mixins: [layout]
}
</script>

