<template>
    <div>
        <splash/>
        <div id="wrapper">
            <header-menu :list="list"/>
            <div class="banner-info">
                <h1 class="quote" v-html="$store.state.pageTitle"></h1>
                <div v-html="$store.state.pageDesc"></div>
            </div>
            <div class="container">
                <nuxt></nuxt>
            </div>
            <insta-feed v-if="!$store.state.pageError"/>
            <footer-page/>
        </div>
    </div>
</template>
<script>
import layout from "@/mixins/layout"
export default {
    mixins: [layout]
}
</script>


