<template>
  <section class="bg-grey">
      <div class="preheader-hidden">
          <h2>Car Rental with Driver List</h2>
      </div>
      <tile :list="list" :num-columns="3" :square="false"/>
  </section>
</template>
<script>
import page from "@/mixins/page"
import data from "@/assets/data/car-rental"
import tile from "@/components/tile"
export default {
  fetch({store, params}) {
      store.state.pageTitle = "Car Rental with Driver in Bali"
      store.state.pageDesc = "<p>Rent a car and explore amazing Bali. No hidden costs, easy checkout. Choose, book, pay on arrival. It's that simple!</p>"
      store.state.metaImage = "https://www.cherysabalitour.com/images/contents/car-toyota-innova.jpg"
  },
  components: {
    tile
  },
  mixins:[page],
  data() {
    return {
      list: data.carsList
    }
  }
}  
</script>