<template>
  <section class="bg-grey">
      <div class="preheader-hidden">
          <h2>Selected Hotels in Nusa Penida</h2>
      </div>
      <tile :list="list" :num-columns="2" :square="false"/>
  </section>
</template>
<script>
import page from "@/mixins/page"
import data from "@/assets/data/hotels"
import tile from "@/components/tile"
export default {
    fetch({store}) {
        store.state.pageTitle = "Hotels and Bungalows to stay in Nusa Penida"
        store.state.pageDesc = "<p>For travellers who have more time and follow our 2 Days 1 Night tour packages or extend their tour for a day or more, Cherysa Tour has select Hotels or Bungalows based on your budget or best view and facilities you wanted.</p>"
        store.state.metaImage = "https://www.cherysabalitour.com/images/contents/hotel-semabu-hills.jpg"
    },    
    components: {
        tile
    },
    mixins: [page],
    data() {
        return {
        list: data.hotelsList
        }
    }
}  
</script>