<template>
  <div>
    <section class="bg-grey">
        <div class="preheader-hidden">
            <h2>Hot Tour Destination in Nusa Penida</h2>
        </div>
        <chess-grid :list="list"/>
    </section>
    <br><br>
    <h2 class="text-center">Reviews</h2>
    <google-review :placeID="$store.state.placeID"/>
  </div>
</template>
<script>
import data from "@/assets/data/index"
import chessGrid from "@/components/chess-grid"
import googleReview from "@/components/google-review"
import page from "@/mixins/page"
export default {
  fetch({store}) {
      store.state.pageTitle = "<strong>Cherysa Tour</strong> is a Bali and Nusa Penida Tour Agency"
      store.state.pageDesc = "<p>Operated by local person who understand very well and in-depth Nusa Penida tourist destinations</p><br><p>We are offering various tour packages to fit your need and budget. We have one day tour, 2 days and 1 night tour, snorkeling and custom tour packages.</p>"
      store.state.metaImage = "https://www.cherysabalitour.com/images/contents/crystal-bay-beach-2.jpg"
  },
  components: {
    chessGrid, googleReview
  },
  mixins:[page],
  data() {
    return {
      list: data.destinationList
    }
  }
}  
</script>