<template>
    <div>
        <h1 class="text-center">Sitemap</h1>
        <section>
            <div class="sitemap text-center preheader-hidden">
                <h2>Webiste Navigation</h2>
                <div>
                    <h3><nuxt-link to="./">Home</nuxt-link></h3>
                    <h3><nuxt-link to="hotels">Hotels</nuxt-link></h3>
                    <h3><nuxt-link to="car-rental-with-driver">Car Rental</nuxt-link></h3>
                    <h3><nuxt-link to="book-now">Book Now</nuxt-link></h3>
                </div>
                <div>
                    <h3><nuxt-link to="/destinations">Destinations</nuxt-link></h3>
                    <ul>
                        <li v-for="destination in destinations" :key="destination"><nuxt-link :to="'/destinations/'+destination">{{destination.split("-").join(" ")}}</nuxt-link></li>
                    </ul>
                </div>
                <div>
                    <h3><nuxt-link to="/tours">Tours</nuxt-link></h3>
                    <ul>
                        <li v-for="tour in tours" :key="tour"><nuxt-link :to="'/tours/'+tour">{{tour.split("-").join(" ")}}</nuxt-link></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </section>
    </div>
</template>
<script>
import page from "@/mixins/page"
import config from "@/nuxt.config"
export default {
    fetch({store}) {
        store.state.pageTitle = "Sitemap"
        store.state.pageDesc = "<p>Cherysa Bali Tour sitemap pages navigation</p>"
        store.state.metaImage = "https://www.cherysabalitour.com/images/contents/raja-lima2.jpg"
    },
    layout: "book-layout",
    mixins: [page],
    computed: {
        destinations() {
            return config.generate.routes.filter(item => {
                return item.indexOf("index") == -1 && item.indexOf("destinations") > -1
            })
            .map(item => {
                return item.split("/")[2]
            })
        },
        tours() {
            return config.generate.routes.filter(item => {
                return item.indexOf("index") == -1 && item.indexOf("tours") > -1
            })
            .map(item => {
                return item.split("/")[2]
            })
        }
    }
}
</script>